.brand-logo {
  margin-left: 15px;
}
#index-banner {
  background-image: url('../img/hero.jpg');
  /*background-size: cover;*/
  height: 500px;
}

.material-icons {
  font-size: 1em;
  display: flex;
  justify-content: space-around;
}

.titleTag {
  font-size: .5em;
}

#title {
  font-size: 1em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating),
 .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #e91e63;
}

h1 {
  margin-top: 0;
}
