#index-banner {
  background-image: url('../img/hero.jpg');
  /*background-size: cover;*/
  height: 500px;
}

.material-icons {
  font-size: 1em;
  display: flex;
  justify-content: space-around;
}

.titleTag {
  font-size: .5em;
}
